@import 'variables.scss';
@import 'fonts.scss';

#card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 95vw;
  width: 95vw;
  justify-content: space-around;
  margin: 10px 0px 0px 0px;
}

.card {
  margin: 10px 5px;
  width: 191px;
  height: max-content;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(255, 255, 255, 0.09) 0px 3px 6px,
    rgba(255, 255, 255, 0.16) 0px 3px 6px;
  transition: all 0.3s ease;
  border-radius: 2px;
  display: flex;
  align-items: center;
}

.card,
.operator-card,
.operator-icon {
  height: max-content;
}

.operator-card {
  height: 100%;
  width: 100%;
}

.operator-name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  height: 37px;
  padding: 7px 0 10px;
  color: #fff;
  background-color: rgba(17, 17, 17, 0.15);
  backdrop-filter: blur(2px);
}

.operator-icon {
  display: block;
  position: absolute;
  top: 55%;
  right: auto;
  left: 50%;
  bottom: auto;
  margin: 0 -25%;
  width: 50%;
  height: auto;
  z-index: 2;
}

.operator-year {
  display: block;
  position: absolute;
  top: 0%;
  right: 48px;
  bottom: auto;
  margin: 0 -25%;
  width: 30px;
  height: 30px;
  z-index: 2;
}

.card:hover:not(.selected) {
  cursor: pointer;
}

.card:hover,
.card.selected {
  background-size: cover;

  &:not(.queer) {
    .operator-year {
      color: #fff !important;
    }

    &.attacker {
      background-image: url(card-bg-att.webp);
    }

    &.defender {
      background-image: url(card-bg-def.webp);
    }
  }

  &.queer {
    background-image: url(card-bg-pride.webp);
    .operator-year {
      color: #1b40e7 !important;
    }
  }

  .operator-name {
    color: #fff;
    text-shadow: 5px 5px 10px #000;
    backdrop-filter: unset;
  }

  &.attacker {
    box-shadow: 0 0 10px 1px $attackerBox;
  }

  &.defender {
    box-shadow: 0 0 10px 1px $defenderBox;
  }
}
