@font-face {
  font-family: "R6S";
  src: url("fonts/ScoutCond-Bold.woff2") format("woff2"), url("fonts/ScoutCond-Bold.woff") format("woff"), url("fonts/ScoutCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "R6S";
  src: url("fonts/ScoutCond-RegularItalic.woff2") format("woff2"), url("fonts/ScoutCond-RegularItalic.woff") format("woff"), url("fonts/ScoutCond-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "R6S";
  src: url("fonts/ScoutCond-Regular.woff2") format("woff2"), url("fonts/ScoutCond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "R6S";
  src: url("fonts/ScoutCond-BoldItalic.woff2") format("woff2"), url("fonts/ScoutCond-BoldItalic.woff") format("woff"), url("fonts/ScoutCond-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
#description {
  font-family: "R6S";
  font-size: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background-color: rgba(1, 1, 1, 0.95);
  min-height: 120px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid #f5f909;
}

#description img {
  max-height: 90px;
  height: 90px;
  width: auto;
}

#description-icon {
  display: flex;
  flex-direction: row;
  width: -moz-max-content;
  width: max-content;
  justify-content: center;
  align-items: center;
}

#description .name {
  text-transform: uppercase;
}

#description-text {
  max-width: 97vw;
  padding: 5px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #description {
    max-height: 50vh;
    height: auto;
    justify-content: center;
    font-size: 20px;
  }
  #description > img {
    max-height: 10vh;
  }
  #description-icon {
    width: 20vw;
    flex-direction: column;
  }
  #description-text {
    max-width: 80vw;
  }
}/*# sourceMappingURL=description.css.map */