@import 'variables.scss';
@import 'fonts.scss';

#description {
  font-family: 'R6S';
  font-size: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  background-color: $noir-transparent;
  min-height: 120px;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid $jaune;
}

#description img {
  max-height: 90px;
  height: 90px;
  width: auto;
}

#description-icon {
  display: flex;
  flex-direction: row;
  width: max-content;
  justify-content: center;
  align-items: center;
}

#description .name {
  text-transform: uppercase;
}

#description-text {
  max-width: 97vw;
  padding: 5px;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  #description {
    max-height: 50vh;
    height: auto;
    justify-content: center;
    font-size: 20px;
  }
  #description > img {
    max-height: 10vh;
  }
  #description-icon {
    width: 20vw;
    flex-direction: column;
  }
  #description-text {
    max-width: 80vw;
  }
}
