#filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 17, 0.15);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  box-shadow: rgba(255, 255, 255, 0.09) 0px 3px 6px, rgba(255, 255, 255, 0.16) 0px 3px 6px;
  border-radius: 2px;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  z-index: 10;
  font-size: 1.5rem;
  transition: all 1s ease-out;
  font-family: "R6S" !important;
}

.hidden,
.hidden * {
  display: none;
  opacity: 0;
  transition: display 0s linear 100ms, opacity 100ms;
}

#filters.hidden {
  box-shadow: none;
}

.visible {
  display: flex;
  opacity: 1;
  transition: display 0s linear 0s, opacity 100ms;
}

.filterDiv {
  width: 100%;
  margin: 5px 0px;
}

#buttonFilters {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#displayButton {
  margin: 0px 0px 10px 0px;
}

#advancedFilters {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterButtons {
  display: flex;
  justify-content: space-around;
}

.ui.button {
  font-family: "R6S" !important;
  font-size: 15px !important;
  text-transform: uppercase !important;
  letter-spacing: 0.1rem;
}

.ui.button:not(.active),
#sortingMethod .button:not(.positive) {
  opacity: 0.3 !important;
}

.filterLabel {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.positive {
  background-color: #f9e223 !important;
  color: #000 !important;
}

#advancedFilters .filterButtons {
  justify-content: space-evenly;
}

.hidden {
  transition: height 0.5s ease-out;
  height: 0;
  overflow: hidden;
}

.hidden.open {
  height: 200px;
}

.ui.dropdown {
  background-color: rgba(17, 17, 17, 0.15) !important;
}

.dropdown.icon,
.ui.dropdown:not(.button) > .default.text,
.dropdown .divider {
  color: #fff !important;
}

.ui.label {
  background-color: #555 !important;
}

.ui.dropdown .menu {
  background-color: #1e1e1e !important;
  color: #fff !important;
}

.ui.fluid.dropdown {
  border: 1px solid rgba(249, 226, 35, 0.35);
}

.ui.selection.dropdown:hover,
.ui.selection.active.dropdown:hover,
.ui.selection.active.dropdown:hover .menu {
  border-color: #f9e223;
}

.ui.dropdown .menu > .item {
  border: none !important;
  color: #fff !important;
  font-size: 21px !important;
}
.ui.dropdown .menu > .item:hover {
  background-color: rgba(249, 226, 35, 0.15);
}

.ui.toggle.checkbox input ~ .box,
.ui.toggle.checkbox input ~ label,
.ui.toggle.checkbox input:checked ~ .box,
.ui.toggle.checkbox input:checked ~ label {
  color: #fff !important;
  font-size: 18px !important;
}

.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background: linear-gradient(to bottom, #e40303, #e40303 16.67%, #ff8c00 16.67%, #ff8c00 33.33%, #ffed00 33.33%, #ffed00 50%, #008026 50%, #008026 66.67%, #004dff 66.67%, #004dff 83.33%, #750787 83.33%, #750787);
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #filters {
    flex-direction: column;
    width: 80vw;
  }
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #filters {
    width: 80vw;
  }
  #filters div:not(.v-list-item) {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #buttonFilters {
    width: -moz-max-content;
    width: max-content;
  }
  #buttonFilters,
  #advancedFilters {
    width: 95%;
  }
  .v-btn-toggle {
    flex-direction: column;
  }
}/*# sourceMappingURL=filters.css.map */