@font-face {
  font-family: 'R6S';
  src: url('fonts/ScoutCond-Bold.woff2') format('woff2'),
    url('fonts/ScoutCond-Bold.woff') format('woff'),
    url('fonts/ScoutCond-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'R6S';
  src: url('fonts/ScoutCond-RegularItalic.woff2') format('woff2'),
    url('fonts/ScoutCond-RegularItalic.woff') format('woff'),
    url('fonts/ScoutCond-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'R6S';
  src: url('fonts/ScoutCond-Regular.woff2') format('woff2'),
    url('fonts/ScoutCond-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'R6S';
  src: url('fonts/ScoutCond-BoldItalic.woff2') format('woff2'),
    url('fonts/ScoutCond-BoldItalic.woff') format('woff'),
    url('fonts/ScoutCond-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
