.pride-flag {
  width: calc(8 * 5px);
  height: calc(8 * 3px);
  display: block;
  position: absolute;
  top: 0%;
  left: 48px;
  bottom: auto;
  margin: 2px -25% 0px -25%;
  z-index: 2;
}
.pride-flag:not(.show-queer) {
  visibility: hidden;
}

.trans {
  background: linear-gradient(to bottom, #5ccefa, #5ccefa 20%, #f6a8b7 20%, #f6a8b7 40%, #fff 40%, #fff 60%, #f6a8b7 60%, #f6a8b7 80%, #5ccefa 80%, #5ccefa);
}

.non-binary {
  background: linear-gradient(to bottom, #fdf52f, #fdf52f 25%, #fff 25%, #fff 50%, #9d5ad2 50%, #9d5ad2 75%, #000 75%, #000);
}

.lesbian {
  background: linear-gradient(to bottom, #d12601, #d12601 20%, #ff8f45 20%, #ff8f45 40%, #fff 40%, #fff 60%, #cf559b 60%, #cf559b 80%, #9b1a58 80%, #9b1a58);
}

.gay {
  background: linear-gradient(to bottom, #078d70, #078d70 14.2857142857%, #26ceaa 14.2857142857%, #26ceaa 28.5714285714%, #98e8c1 28.5714285714%, #98e8c1 42.8571428571%, #fff 42.8571428571%, #fff 57.1428571429%, #7bade2 57.1428571429%, #7bade2 71.4285714286%, #5049cc 71.4285714286%, #5049cc 85.7142857143%, #3d1a78 85.7142857143%, #3d1a78);
}

.bisexual {
  background: linear-gradient(to bottom, #d60270, #d60270 40%, #9a4f96 40%, #9a4f96 60%, #0039a9 60%, #0039a9);
}/*# sourceMappingURL=pride.css.map */