$multiplicator: 8;

.pride-flag {
  width: calc(#{$multiplicator} * 5px);
  height: calc(#{$multiplicator} * 3px);
  display: block;
  position: absolute;
  top: 0%;
  left: 48px;
  bottom: auto;
  margin: 2px -25% 0px -25%;
  z-index: 2;

  &:not(.show-queer) {
    visibility: hidden;
  }
}

.trans {
  background: linear-gradient(
    to bottom,
    #5ccefa,
    #5ccefa 20%,
    #f6a8b7 20%,
    #f6a8b7 40%,
    #fff 40%,
    #fff 60%,
    #f6a8b7 60%,
    #f6a8b7 80%,
    #5ccefa 80%,
    #5ccefa
  );
}

.non-binary {
  background: linear-gradient(
    to bottom,
    #fdf52f,
    #fdf52f 25%,
    #fff 25%,
    #fff 50%,
    #9d5ad2 50%,
    #9d5ad2 75%,
    #000 75%,
    #000
  );
}

.lesbian {
  background: linear-gradient(
    to bottom,
    #d12601,
    #d12601 20%,
    #ff8f45 20%,
    #ff8f45 40%,
    #fff 40%,
    #fff 60%,
    #cf559b 60%,
    #cf559b 80%,
    #9b1a58 80%,
    #9b1a58
  );
}

.gay {
  background: linear-gradient(
    to bottom,
    #078d70,
    #078d70 calc(100% / 7),
    #26ceaa calc(100% / 7),
    #26ceaa calc(200% / 7),
    #98e8c1 calc(200% / 7),
    #98e8c1 calc(300% / 7),
    #fff calc(300% / 7),
    #fff calc(400% / 7),
    #7bade2 calc(400% / 7),
    #7bade2 calc(500% / 7),
    #5049cc calc(500% / 7),
    #5049cc calc(600% / 7),
    #3d1a78 calc(600% / 7),
    #3d1a78
  );
}

.bisexual {
  background: linear-gradient(
    to bottom,
    #d60270,
    #d60270 40%,
    #9a4f96 40%,
    #9a4f96 60%,
    #0039a9 60%,
    #0039a9
  );
}
