@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "R6S";
  src: url("fonts/ScoutCond-Bold.woff2") format("woff2"), url("fonts/ScoutCond-Bold.woff") format("woff"), url("fonts/ScoutCond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "R6S";
  src: url("fonts/ScoutCond-RegularItalic.woff2") format("woff2"), url("fonts/ScoutCond-RegularItalic.woff") format("woff"), url("fonts/ScoutCond-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "R6S";
  src: url("fonts/ScoutCond-Regular.woff2") format("woff2"), url("fonts/ScoutCond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "R6S";
  src: url("fonts/ScoutCond-BoldItalic.woff2") format("woff2"), url("fonts/ScoutCond-BoldItalic.woff") format("woff"), url("fonts/ScoutCond-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
html {
  height: 100%;
  width: 100%;
}

body,
#__next {
  min-height: 100%;
  min-width: 100%;
}

.v-application {
  color: #ffffff !important;
  font-family: "R6S", sans-serif;
  padding: 0px 0px 125px 0px;
  font-size: 18px;
  background-color: rgba(1, 1, 1, 0.5);
  min-height: 100vh;
}

#background-image {
  background-color: #000000;
  background-image: url(https://i.ibb.co/RHGwkNF/R6-newUI.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: -1;
}

a {
  background-color: unset;
}

.cool-link {
  color: #ffff00 !important;
  text-decoration: none;
  background: linear-gradient(to right, #64c8c8, #64c8c8), linear-gradient(to right, #ff0000, #ff00b4, #0064c8);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.cool-link:hover {
  background-size: 0 2px, 100% 2px;
}

#titre {
  text-shadow: 1px 2px #000;
  text-transform: uppercase;
  font-family: "R6S";
  font-size: 2rem;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
  width: 100vw;
  text-shadow: 1px 2px #000000;
}

#footer span {
  max-width: -moz-max-content;
  max-width: max-content;
}

#footer a {
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#credit {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  padding: 15px;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}

#legend {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

#logo-container {
  width: 400px;
  max-width: 90vw;
}
#logo-container span {
  padding: 10px !important;
}
#logo-container > div {
  position: unset !important;
}
#logo-container #logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #footer {
    flex-direction: column;
  }
  #footer {
    align-items: center;
    padding: 0px 0px 50px 0px;
  }
  #credit {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 15px;
  }
}/*# sourceMappingURL=style.css.map */