@font-face {
    font-family: 'ScoutCond';
    src: url('fonts/ScoutCond-BoldItalic.woff2') format('woff2'),
        url('fonts/ScoutCond-BoldItalic.woff') format('woff'),
        url('fonts/ScoutCond-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

